<a href="https://colab.research.google.com/github/sandeepa-oraon/DataAnalyses/blob/main/Pandas/dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas

In [1]:
import pandas as pd

In [2]:
df= pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [3]:
#creating dataframe from list
lst= ['hello', 'my', 'name', 'is', 'sandeepa']
df= pd.DataFrame(lst)
print(df)

          0
0     hello
1        my
2      name
3        is
4  sandeepa

In [4]:
#creating dataframe from dist of lists
lst1={'Name': ['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}
df= pd.DataFrame(lst1)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

##INDEXING (accessing and modifying)

In [5]:
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}
index_val=[1, 2, 3,4,5]

In [6]:
df= pd.DataFrame(data, index=index_val)
print(df)

      Name  Age  Gender  Salary
1     John   25    Male   50000
2    Alice   30  Female   55000
3      Bob   22    Male   40000
4      Eve   35  Female   70000
5  Charlie   28    Male   48000

In [7]:
df.loc[1]['Age']

np.int64(25)

In [8]:
df.loc[1,'Age']

np.int64(25)

In [9]:
df_name =df.set_index('Name')
print(df_name)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

In [10]:
df_name.loc['John']

Age          25
Gender     Male
Salary    50000
Name: John, dtype: object

In [11]:
df_name.loc['John','Gender']

'Male'

##Indexing and Selecting Data with Pandas

In [12]:
data= pd.read_csv("nba.csv", index_col= "Name")
print(data.head(5))

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0

In [13]:
#selecting single column
fdata= data['Age']
fdata.head(5)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
Name: Age, dtype: float64

In [14]:
#selecting multiple column
fdata= data[['Age', 'College', 'Salary']]
fdata

                Age            College     Salary
Name
Avery Bradley  25.0              Texas  7730337.0
Jae Crowder    25.0          Marquette  6796117.0
John Holland   27.0  Boston University        NaN
R.J. Hunter    22.0      Georgia State  1148640.0
Jonas Jerebko  29.0                NaN  5000000.0
...             ...                ...        ...
Shelvin Mack   26.0             Butler  2433333.0
Raul Neto      24.0                NaN   900000.0
Tibor Pleiss   26.0                NaN  2900000.0
Jeff Withey    26.0             Kansas   947276.0
NaN             NaN                NaN        NaN

[458 rows x 3 columns]

In [15]:
data.loc["Jonas Jerebko"]

Team        Boston Celtics
Number                 8.0
Position                PF
Age                   29.0
Height                6-10
Weight               231.0
College                NaN
Salary           5000000.0
Name: Jonas Jerebko, dtype: object

In [16]:
data.loc["Jonas Jerebko"]

Team        Boston Celtics
Number                 8.0
Position                PF
Age                   29.0
Height                6-10
Weight               231.0
College                NaN
Salary           5000000.0
Name: Jonas Jerebko, dtype: object

In [17]:
data.loc['Raul Neto', 'Age']

np.float64(24.0)

In [18]:
data.head(15)

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
Terry Rozier,Boston Celtics,12.0,PG,22.0,6-2,190.0,Louisville,1824360.0
Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
Jared Sullinger,Boston Celtics,7.0,C,24.0,6-9,260.0,Ohio State,2569260.0
Isaiah Thomas,Boston Celtics,4.0,PG,27.0,5-9,185.0,Washington,6912869.0
Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
James Young,Boston Celtics,13.0,SG,20.0,6-6,215.0,Kentucky,1749840.0
Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

In [19]:
#selecting multiple rows and columns
data.loc[['Jordan Mickey', 'Evan Turner', 'Tyler Zeller'],['Team', 'Age']]

                         Team   Age
Name
Jordan Mickey  Boston Celtics  21.0
Evan Turner    Boston Celtics  27.0
Tyler Zeller   Boston Celtics  26.0

In [20]:
#selecting all rows and some col
data.loc[:,['Team', 'Age']]

                         Team   Age
Name
Avery Bradley  Boston Celtics  25.0
Jae Crowder    Boston Celtics  25.0
John Holland   Boston Celtics  27.0
R.J. Hunter    Boston Celtics  22.0
Jonas Jerebko  Boston Celtics  29.0
...                       ...   ...
Shelvin Mack        Utah Jazz  26.0
Raul Neto           Utah Jazz  24.0
Tibor Pleiss        Utah Jazz  26.0
Jeff Withey         Utah Jazz  26.0
NaN                       NaN   NaN

[458 rows x 2 columns]

In [21]:
#selecting all rows and some columns
data.loc[:,['Team', 'Number', 'Position']]

                         Team  Number Position
Name
Avery Bradley  Boston Celtics     0.0       PG
Jae Crowder    Boston Celtics    99.0       SF
John Holland   Boston Celtics    30.0       SG
R.J. Hunter    Boston Celtics    28.0       SG
Jonas Jerebko  Boston Celtics     8.0       PF
...                       ...     ...      ...
Shelvin Mack        Utah Jazz     8.0       PG
Raul Neto           Utah Jazz    25.0       PG
Tibor Pleiss        Utah Jazz    21.0        C
Jeff Withey         Utah Jazz    24.0        C
NaN                       NaN     NaN      NaN

[458 rows x 3 columns]

In [22]:
#selecting some rows and all columns
data.loc[['Jordan Mickey', 'Evan Turner', 'Tyler Zeller'],:]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
Evan Turner,Boston Celtics,11.0,SG,27.0,6-7,220.0,Ohio State,3425510.0
Tyler Zeller,Boston Celtics,44.0,C,26.0,7-0,253.0,North Carolina,2616975.0

In [23]:
#selecting a single row
data.loc['John Holland']

Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

#iloc

##selcting rows and columns using integer index

In [24]:
#using iloc for integer position
data.iloc[2]

Team           Boston Celtics
Number                   30.0
Position                   SG
Age                      27.0
Height                    6-5
Weight                  205.0
College     Boston University
Salary                    NaN
Name: John Holland, dtype: object

In [25]:
#selecting rows using integer index using iloc
data.iloc[[2,5,9,21]]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
Amir Johnson,Boston Celtics,90.0,PF,29.0,6-9,240.0,NaN,12000000.0
Marcus Smart,Boston Celtics,36.0,PG,22.0,6-4,220.0,Oklahoma State,3431040.0
Sean Kilpatrick,Brooklyn Nets,6.0,SG,26.0,6-4,219.0,Cincinnati,134215.0

In [26]:
#selecting specific rows and columns
data.iloc[[6, 8, 21, 24],[3, 6, 7]]

                   Age     College     Salary
Name
Jordan Mickey     21.0         LSU  1170960.0
Terry Rozier      22.0  Louisville  1824360.0
Sean Kilpatrick   26.0  Cincinnati   134215.0
Chris McCullough  21.0    Syracuse  1140240.0

In [27]:
#selecting all rows and some columns
data.iloc[:, [3, 6, 7]]

                Age            College     Salary
Name
Avery Bradley  25.0              Texas  7730337.0
Jae Crowder    25.0          Marquette  6796117.0
John Holland   27.0  Boston University        NaN
R.J. Hunter    22.0      Georgia State  1148640.0
Jonas Jerebko  29.0                NaN  5000000.0
...             ...                ...        ...
Shelvin Mack   26.0             Butler  2433333.0
Raul Neto      24.0                NaN   900000.0
Tibor Pleiss   26.0                NaN  2900000.0
Jeff Withey    26.0             Kansas   947276.0
NaN             NaN                NaN        NaN

[458 rows x 3 columns]

In [28]:
#selecting some rows and all columns
data.iloc[[3, 6, 7],:]

,Team,Number,Position,Age,Height,Weight,College,Salary
Name,,,,,,,,
R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0

#Slicing in Pandas Dataframe

In [29]:
import pandas as pd

In [30]:
player_list = [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kohli', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]

df= pd.DataFrame(player_list, columns=['Name', 'Age', 'Weight', 'Salary'])
print(df)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000
4        C.Gayle   40     100  4528000
5         J.Root   33      72  7028000
6     K.Peterson   42      85  2528000

#iloc

slicing columns

In [31]:
df1= df.iloc[:, 0:2]
print(df1)

            Name  Age
0      M.S.Dhoni   36
1  A.B.D Villers   38
2        V.Kohli   31
3        S.Smith   34
4        C.Gayle   40
5         J.Root   33
6     K.Peterson   42

accesing specific value/cell

In [32]:
value= df.iloc[3,1]
print(value)

34

using boolean condition in Pandas DF

In [33]:
data= df[df['Age'] > 35].iloc[:, :]
print(data)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
4        C.Gayle   40     100  4528000
6     K.Peterson   42      85  2528000

#loc

slicing rows in df

In [34]:
print(df.loc['C.Gayle' : 'K.Peterson'])

Empty DataFrame
Columns: [Name, Age, Weight, Salary]
Index: []

selecting specific cell in df

In [42]:
print('---J.Root---')
print('Salary', df.loc['J.Root', 'Salary'])
print('Age: ',df.loc['J.Root', 'Age'])

---J.Root---

KeyError: 'J.Root'