<a href="https://colab.research.google.com/github/sandeepa-oraon/DataAnalyses/blob/main/Pandas/dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
df= pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [ ]:
#creating dataframe from list

lst= ['hello', 'my', 'name', 'is', 'sandeepa']
df= pd.DataFrame(lst)
print(df)

          0
0     hello
1        my
2      name
3        is
4  sandeepa

In [ ]:
#creating dataframe from dist of lists
lst1={'Name': ['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18]}
df= pd.DataFrame(lst1)
print(df)

    Name  Age
0    Tom   20
1   nick   21
2  krish   19
3   jack   18

##INDEXING (accessing and modifying)

In [ ]:
data = {'Name': ['John', 'Alice', 'Bob', 'Eve', 'Charlie'],
        'Age': [25, 30, 22, 35, 28],
        'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
        'Salary': [50000, 55000, 40000, 70000, 48000]}
index_val=[1, 2, 3,4,5]

In [ ]:
df= pd.DataFrame(data, index=index_val)
print(df)

      Name  Age  Gender  Salary
1     John   25    Male   50000
2    Alice   30  Female   55000
3      Bob   22    Male   40000
4      Eve   35  Female   70000
5  Charlie   28    Male   48000

In [ ]:
df.loc[1]['Age']

25

In [ ]:
df.loc[1,'Age']

25

In [ ]:
df_name =df.set_index('Name')
print(df_name)

         Age  Gender  Salary
Name
John      25    Male   50000
Alice     30  Female   55000
Bob       22    Male   40000
Eve       35  Female   70000
Charlie   28    Male   48000

In [ ]:
df_name.loc['John']

Age          25
Gender     Male
Salary    50000
Name: John, dtype: object

In [ ]:
df_name.loc['John','Gender']

'Male'

##Indexing and Selecting Data with Pandas

In [2]:
data= pd.read_csv("nba.csv", index_col= "Name")
print(data.head(5))

                         Team  Number Position   Age Height  Weight  \
Name
Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
Jae Crowder    Boston Celtics    99.0       SF  25.0    6-6   235.0
John Holland   Boston Celtics    30.0       SG  27.0    6-5   205.0
R.J. Hunter    Boston Celtics    28.0       SG  22.0    6-5   185.0
Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

                         College     Salary
Name
Avery Bradley              Texas  7730337.0
Jae Crowder            Marquette  6796117.0
John Holland   Boston University        NaN
R.J. Hunter        Georgia State  1148640.0
Jonas Jerebko                NaN  5000000.0

In [3]:
#selecting single column
fdata= data['Age']
fdata.head(5)

Name
Avery Bradley    25.0
Jae Crowder      25.0
John Holland     27.0
R.J. Hunter      22.0
Jonas Jerebko    29.0
Name: Age, dtype: float64

In [4]:
#selecting multiple column
fdata= data[['Age', 'College', 'Salary']]
fdata

                Age            College     Salary
Name
Avery Bradley  25.0              Texas  7730337.0
Jae Crowder    25.0          Marquette  6796117.0
John Holland   27.0  Boston University        NaN
R.J. Hunter    22.0      Georgia State  1148640.0
Jonas Jerebko  29.0                NaN  5000000.0
...             ...                ...        ...
Shelvin Mack   26.0             Butler  2433333.0
Raul Neto      24.0                NaN   900000.0
Tibor Pleiss   26.0                NaN  2900000.0
Jeff Withey    26.0             Kansas   947276.0
NaN             NaN                NaN        NaN

[458 rows x 3 columns]

In [9]:
data.loc["Jonas Jerebko"]

Team        Boston Celtics
Number                 8.0
Position                PF
Age                   29.0
Height                6-10
Weight               231.0
College                NaN
Salary           5000000.0
Name: Jonas Jerebko, dtype: object

In [11]:
data.loc["Jonas Jerebko"]

Team        Boston Celtics
Number                 8.0
Position                PF
Age                   29.0
Height                6-10
Weight               231.0
College                NaN
Salary           5000000.0
Name: Jonas Jerebko, dtype: object

In [10]:
data.loc['Raul Neto', 'Age']

24.0