<a href="https://colab.research.google.com/github/sandeepa-oraon/DataAnalyses/blob/main/Pandas/mjc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Merging, Joining, and Concatenating

In [52]:
import pandas as pd

In [53]:
# Define a dictionary containing employee data
data1 = {'Name': ['Jai', 'Princi', 'Gaurav', 'Anuj'],
         'Age': [27, 24, 22, 32],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Msc', 'MA', 'MCA', 'Phd']}

# Define a dictionary containing employee data
data2 = {'Name': ['Abhi', 'Ayushi', 'Dhiraj', 'Hitesh'],
         'Age': [17, 14, 12, 52],
         'Address': ['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
         'Qualification': ['Btech', 'B.A', 'Bcom', 'B.hons']}

concat df using group key

In [54]:
#convert dictionary into Dataframe
df1= pd.DataFrame(data1)
df2= pd.DataFrame(data2)

In [55]:
print(df1, "\n\n", df2)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd

      Name  Age    Address Qualification
0    Abhi   17     Nagpur         Btech
1  Ayushi   14     Kanpur           B.A
2  Dhiraj   12  Allahabad          Bcom
3  Hitesh   52    Kannuaj        B.hons

In [56]:
frame= [df1, df2]
pd.concat(frame)
# display(res)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd
0    Abhi   17     Nagpur         Btech
1  Ayushi   14     Kanpur           B.A
2  Dhiraj   12  Allahabad          Bcom
3  Hitesh   52    Kannuaj        B.hons

Concatenating DataFrame by setting logic on axes

In [57]:
df3= pd.DataFrame(data1, index=[0, 1, 2, 3])
df4= pd.DataFrame(data2, index=[2, 3, 4, 5])

In [58]:
res2= pd.concat([df3, df4], join='inner', axis=1)
res2

     Name  Age    Address Qualification    Name  Age Address Qualification
2  Gaurav   22  Allahabad           MCA    Abhi   17  Nagpur         Btech
3    Anuj   32    Kannuaj           Phd  Ayushi   14  Kanpur           B.A

In [59]:
res3= pd.concat([df3, df4], join='outer', axis=1)
res3

,Name,Age,Address,Qualification,Name,Age,Address,Qualification
0,Jai,27.0,Nagpur,Msc,NaN,NaN,NaN,NaN
1,Princi,24.0,Kanpur,MA,NaN,NaN,NaN,NaN
2,Gaurav,22.0,Allahabad,MCA,Abhi,17.0,Nagpur,Btech
3,Anuj,32.0,Kannuaj,Phd,Ayushi,14.0,Kanpur,B.A
4,NaN,NaN,NaN,NaN,Dhiraj,12.0,Allahabad,Bcom
5,NaN,NaN,NaN,NaN,Hitesh,52.0,Kannuaj,B.hons

In [60]:
res3= pd.concat([df3, df4], axis=1, sort=False)
res3

,Name,Age,Address,Qualification,Name,Age,Address,Qualification
0,Jai,27.0,Nagpur,Msc,NaN,NaN,NaN,NaN
1,Princi,24.0,Kanpur,MA,NaN,NaN,NaN,NaN
2,Gaurav,22.0,Allahabad,MCA,Abhi,17.0,Nagpur,Btech
3,Anuj,32.0,Kannuaj,Phd,Ayushi,14.0,Kanpur,B.A
4,NaN,NaN,NaN,NaN,Dhiraj,12.0,Allahabad,Bcom
5,NaN,NaN,NaN,NaN,Hitesh,52.0,Kannuaj,B.hons

In [61]:
res3= pd.concat([df3, df4], join='outer', axis=1)
res3

,Name,Age,Address,Qualification,Name,Age,Address,Qualification
0,Jai,27.0,Nagpur,Msc,NaN,NaN,NaN,NaN
1,Princi,24.0,Kanpur,MA,NaN,NaN,NaN,NaN
2,Gaurav,22.0,Allahabad,MCA,Abhi,17.0,Nagpur,Btech
3,Anuj,32.0,Kannuaj,Phd,Ayushi,14.0,Kanpur,B.A
4,NaN,NaN,NaN,NaN,Dhiraj,12.0,Allahabad,Bcom
5,NaN,NaN,NaN,NaN,Hitesh,52.0,Kannuaj,B.hons

In [62]:
#df1 & df2 has no index set
res3= pd.concat([df1, df2], axis=1, sort=False)
res3

     Name  Age    Address Qualification    Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc    Abhi   17     Nagpur         Btech
1  Princi   24     Kanpur            MA  Ayushi   14     Kanpur           B.A
2  Gaurav   22  Allahabad           MCA  Dhiraj   12  Allahabad          Bcom
3    Anuj   32    Kannuaj           Phd  Hitesh   52    Kannuaj        B.hons

Concatenating DataFrame using .append()

In [63]:
#.append has been removed from pandas in pandas 2.0
#print( df1.append(df2))

Concatenating DataFrame by ignoring indexes :

In [64]:
print(pd.concat([df1, df2], ignore_index= True))

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1  Princi   24     Kanpur            MA
2  Gaurav   22  Allahabad           MCA
3    Anuj   32    Kannuaj           Phd
4    Abhi   17     Nagpur         Btech
5  Ayushi   14     Kanpur           B.A
6  Dhiraj   12  Allahabad          Bcom
7  Hitesh   52    Kannuaj        B.hons

Concatenating DF with group key

In [65]:
frames=[df1, df2]
print(pd.concat(frames, keys=['x', 'y']))

       Name  Age    Address Qualification
x 0     Jai   27     Nagpur           Msc
  1  Princi   24     Kanpur            MA
  2  Gaurav   22  Allahabad           MCA
  3    Anuj   32    Kannuaj           Phd
y 0    Abhi   17     Nagpur         Btech
  1  Ayushi   14     Kanpur           B.A
  2  Dhiraj   12  Allahabad          Bcom
  3  Hitesh   52    Kannuaj        B.hons

##Merging

- inner join
- left outer join
- right outer join
- full outer join

Merging a dataframe with one unique key combination

In [66]:
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],}


data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

In [67]:
d1= pd.DataFrame(data1)
d2= pd.DataFrame(data2)

In [68]:
print(d1.columns)

Index(['key', 'Name', 'Age'], dtype='object')

1# using .merge with one unique key

In [69]:
print(pd.merge(d1, d2, on='key'))

  key    Name  Age    Address Qualification
0  K0     Jai   27     Nagpur         Btech
1  K1  Princi   24     Kanpur           B.A
2  K2  Gaurav   22  Allahabad          Bcom
3  K3    Anuj   32    Kannuaj        B.hons

2# merging dataframe using multiple join key

In [70]:
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K1', 'K0', 'K1'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],}

# Define a dictionary containing employee data
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'key1': ['K0', 'K0', 'K0', 'K0'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'],
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']}

In [71]:
d1= pd.DataFrame(data1)
d2= pd.DataFrame(data2)

In [72]:
print(pd.merge(d1, d2, on=['key', 'key1']))

  key key1    Name  Age    Address Qualification
0  K0   K0     Jai   27     Nagpur         Btech
1  K2   K0  Gaurav   22  Allahabad          Bcom

merging dataframe using *'how'* in an argument

##Merge methods
- left
- right
-outer
-inner

In [73]:
print(pd.merge(d1, d2, how='left', on=['key', 'key1']))

  key key1    Name  Age    Address Qualification
0  K0   K0     Jai   27     Nagpur         Btech
1  K1   K1  Princi   24        NaN           NaN
2  K2   K0  Gaurav   22  Allahabad          Bcom
3  K3   K1    Anuj   32        NaN           NaN

In [74]:
print(pd.merge(d1, d2, how='left', on=['key']))

  key key1_x    Name  Age key1_y    Address Qualification
0  K0     K0     Jai   27     K0     Nagpur         Btech
1  K1     K1  Princi   24     K0     Kanpur           B.A
2  K2     K0  Gaurav   22     K0  Allahabad          Bcom
3  K3     K1    Anuj   32     K0    Kannuaj        B.hons

In [75]:
print(pd.merge(d1, d2, how='right', on=['key', 'key1' ]))

  key key1    Name   Age    Address Qualification
0  K0   K0     Jai  27.0     Nagpur         Btech
1  K1   K0     NaN   NaN     Kanpur           B.A
2  K2   K0  Gaurav  22.0  Allahabad          Bcom
3  K3   K0     NaN   NaN    Kannuaj        B.hons

using *'outer'* to get union of keys from df

In [76]:
print(pd.merge(d1, d2, how='outer', on=['key']))

  key key1_x    Name  Age key1_y    Address Qualification
0  K0     K0     Jai   27     K0     Nagpur         Btech
1  K1     K1  Princi   24     K0     Kanpur           B.A
2  K2     K0  Gaurav   22     K0  Allahabad          Bcom
3  K3     K1    Anuj   32     K0    Kannuaj        B.hons

In [77]:
print(pd.merge(d1, d2, how='outer', on=['key1']))

  key_x key1    Name  Age key_y    Address Qualification
0    K0   K0     Jai   27    K0     Nagpur         Btech
1    K0   K0     Jai   27    K1     Kanpur           B.A
2    K0   K0     Jai   27    K2  Allahabad          Bcom
3    K0   K0     Jai   27    K3    Kannuaj        B.hons
4    K2   K0  Gaurav   22    K0     Nagpur         Btech
5    K2   K0  Gaurav   22    K1     Kanpur           B.A
6    K2   K0  Gaurav   22    K2  Allahabad          Bcom
7    K2   K0  Gaurav   22    K3    Kannuaj        B.hons
8    K1   K1  Princi   24   NaN        NaN           NaN
9    K3   K1    Anuj   32   NaN        NaN           NaN

In [78]:
print(pd.merge(d1, d2, how='outer', on=['key', 'key1']))

  key key1    Name   Age    Address Qualification
0  K0   K0     Jai  27.0     Nagpur         Btech
1  K1   K0     NaN   NaN     Kanpur           B.A
2  K1   K1  Princi  24.0        NaN           NaN
3  K2   K0  Gaurav  22.0  Allahabad          Bcom
4  K3   K0     NaN   NaN    Kannuaj        B.hons
5  K3   K1    Anuj  32.0        NaN           NaN

##Joining dataframe

used for combining the columns of two potentially differently-indexed DataFrames into a single result DataFrame.

In [81]:
data1 = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32]}

data2 = {'Address':['Allahabad', 'Kannuaj', 'Allahabad', 'Kannuaj'],
        'Qualification':['MCA', 'Phd', 'Bcom', 'B.hons']}

# Convert the dictionary into DataFrame
df = pd.DataFrame(data1,index=['K0', 'K1', 'K2', 'K3'])

# Convert the dictionary into DataFrame
df1 = pd.DataFrame(data2, index=['K0', 'K2', 'K3', 'K4'])

In [82]:
print(df.join(df1))

      Name  Age    Address Qualification
K0     Jai   27  Allahabad           MCA
K1  Princi   24        NaN           NaN
K2  Gaurav   22    Kannuaj           Phd
K3    Anuj   32  Allahabad          Bcom