<a href="https://colab.research.google.com/github/sandeepa-oraon/DataAnalyses/blob/main/Pandas/slicingdf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Slicing in Pandas DataFrame(df)

In [36]:
import pandas as pd

In [37]:
player_list = [['M.S.Dhoni', 36, 75, 5428000],
               ['A.B.D Villers', 38, 74, 3428000],
               ['V.Kohli', 31, 70, 8428000],
               ['S.Smith', 34, 80, 4428000],
               ['C.Gayle', 40, 100, 4528000],
               ['J.Root', 33, 72, 7028000],
               ['K.Peterson', 42, 85, 2528000]]

df= pd.DataFrame(player_list, columns=['Name', 'Age', 'Weight', 'Salary'])
print(df)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
2        V.Kohli   31      70  8428000
3        S.Smith   34      80  4428000
4        C.Gayle   40     100  4528000
5         J.Root   33      72  7028000
6     K.Peterson   42      85  2528000

#iloc

slicing columns

In [38]:
df1= df.iloc[:, 0:2]
print(df1)

            Name  Age
0      M.S.Dhoni   36
1  A.B.D Villers   38
2        V.Kohli   31
3        S.Smith   34
4        C.Gayle   40
5         J.Root   33
6     K.Peterson   42

accesing specific value/cell

In [39]:
value= df.iloc[3,1]
print(value)

34

using boolean condition in Pandas DF

In [40]:
data= df[df['Age'] > 35].iloc[:, :]
print(data)

            Name  Age  Weight   Salary
0      M.S.Dhoni   36      75  5428000
1  A.B.D Villers   38      74  3428000
4        C.Gayle   40     100  4528000
6     K.Peterson   42      85  2528000

#loc

slicing rows in df

In [41]:
print(df.loc['C.Gayle' : 'K.Peterson'])

Empty DataFrame
Columns: [Name, Age, Weight, Salary]
Index: []

selecting specific cell in df

In [44]:
print('---J.Root---')
df.set_index('Name', inplace=True)
print('Salary: ', df.loc['J.Root', 'Salary'])
print('Age: ',df.loc['J.Root', 'Age'])

---J.Root---
Salary:  7028000
Age:  33